 <nav class="page-sidebar" data-pages="sidebar">
      <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
      
      <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
        
      <!-- BEGIN SIDEBAR MENU HEADER-->
      <div class="sidebar-header">
        
        <div class="sidebar-header-controls">
          <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
          </button>
        </div>
      </div>
      <!-- END SIDEBAR MENU HEADER-->
        
      <!-- START SIDEBAR MENU -->
      <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
          <li class="m-t-30 ">
            <a href="<?php echo site_url();?>/admin" class="detailed">
              <span class="title">Home</span>
            </a>
            <span class="icon-thumbnail bg-success"><i class="fa fa-home"></i></span>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- END SIDEBAR MENU -->
    </nav>
    <!-- END SIDEBAR -->
    <!-- END SIDEBPANEL-->
    <!-- START PAGE-CONTAINER -->
    <div class="page-container">
      <!-- START HEADER -->
      <div class="header ">
        <!-- START MOBILE CONTROLS -->
        <!-- LEFT SIDE -->
        <div class="pull-left full-height visible-sm visible-xs">
          <!-- START ACTION BAR -->
          <div class="sm-action-bar">
            <a href="#" class="btn-link toggle-sidebar" data-toggle="sidebar">
              <span class="icon-set menu-hambuger"></span>
            </a>
          </div>
          <!-- END ACTION BAR -->
        </div>
        <!-- RIGHT SIDE -->
        <div class="pull-right full-height visible-sm visible-xs">
          <!-- START ACTION BAR -->
          <div class="sm-action-bar">
          </div>
          <!-- END ACTION BAR -->
        </div>
        <!-- END MOBILE CONTROLS -->
        
        
        <div class=" pull-right">
          <!-- START User Info-->
          <div class="visible-lg visible-md m-t-10">
            <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
              <span class="semi-bold"><%= customer.firstname +" " +customer.lastname %></span>
            </div>
            <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
              <a href="/logout" class="clearfix">
          
                <span class="pull-right"><i class="pg-power"></i></span>
              </a>
            </div>
            
          </div>
          <!-- END User Info-->
        </div>
      </div>
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
          <!-- START JUMBOTRON -->
          <div class="jumbotron" data-pages="parallax">
            <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
              <div class="inner">
                <div class="row">
                  <!--<div class="col-lg-7 col-md-6 ">-->
                    <!-- START PANEL -->
                    <!--<div class="full-height">
                      <div class="panel-body text-center">
                        <img class="image-responsive-height demo-mw-600" src="assets/img/demo/tables.jpg" alt="">
                      </div>
                    </div>-->
                    <!-- END PANEL -->
                  <!--</div>-->
                  <div class="col-lg-5 col-md-6 ">
                    <!-- START PANEL -->
                   
                    <div class="panel panel-transparent">
                      <div class="panel-heading">
                        <div class="panel-title">USER DATA
                        </div>
                      </div>
                      <div class="panel-body">
                        <h3> <%= customer.firstname +" " +customer.lastname %></h3>
                        <p><%= customer.email %></p>
                        <p class="small hint-text m-t-5"><%= customer.address+"/"+ customer.zipcode %>
                          <br><%= customer.city+","+customer.province %></p>
                          <%= customer.country %></p>
                        <br>
                      </div>
                    </div>
                    <!-- END PANEL -->
                  </div>
                  <div class="col-lg-5 col-md-6 ">
                    <!-- START PANEL -->
                    <div class="panel panel-transparent">
                    <div class="panel-heading">
                      <div class="panel-title">Price</div>

                    </div>
                  
                    <div class="panel-body">
                    <h4>Create and host new service </h4>

                                          
                        <form id="submitNewService">
                        <div class="row">
                          <div class="form-group form-group-default  required">
                            <label class="">Service Name</label>
                            <input class="form-control" type="text" id="serviceName" required/>
                          </div>                      
                          <div class="form-group form-group-default form-group-default-select2 required">
                            <label class="">Aplication</label>
                            <select class="full-width" data-placeholder="Select Aplication" data-init-plugin="select2" id="newApp" name="newApp">
                              <optgroup label="Node Js Aplication">
                                <% for(var i in allApp){ %>
                                <option value="<%=allApp[i].idapp%>"><%=allApp[i].nama%></option>
                                <% }%>
                              </optgroup>
                            </select>
                          </div>
                          <div class="form-group form-group-default form-group-default-select2 required">
                            <label class="">Database</label>
                            <select class="full-width" data-placeholder="Select Aplication" data-init-plugin="select2" id="newDb"name="newDb">
                              <optgroup label="Database Aplication">
                                <% for(var i in allDb){ %>
                                <option value="<%=allDb[i].idDB%>"><%=allDb[i].nama%></option>
                                <% }%>
                              </optgroup>
                            </select>
                          </div>
                      </div> 
                      <div class="row">
                        <div class="col-sm-3">
                          <label class="resource">Memory</label>
                        </div>
                         <div class="col-sm-4">
                          <input type="text"  class="resource" name="memory" disabled id="memory" />
                        </div>
                      </div>
                
                      <div class="row">
                        <div class="col-sm-3">
                          <label class="resource">Space</label>
                        </div>
                         <div class="col-sm-4">             
                          <input type="text"  class="resource" name="space" disabled id="space" />                                                    
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-3">
                          <label class="resource">Bandwith</label>
                        </div>
                         <div class="col-sm-4">
                          <input type="text"  class="resource" name="bandwith" disabled id="bandwith" />                          
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-3">
                          <label class="resource">Request </label>
                        </div>
                         <div class="col-sm-4">
                          <input type="text"  class="resource" name="request" disabled id="request" />                          
                        </div>
                      </div>
                       <div class="row">
                        <div class="col-sm-3">
                          <label class="resource">worker </label>
                        </div>
                         <div class="col-sm-4 " class="">
                          <input type="text"  class="resource" name="worker" disabled id="worker" />                          
                        </div>
                      </div>
                      

                      <div class="row">
                      <div class="cube">
                      <div class="a"></div>
                      <div class="b"></div>
                      <div class="c"></div>
                      <div class="d"></div>
                      <div id="slider-range-min"></div>
                      </div>
                       <input type="text"  class="slider"  disabled id="loot" />
                       <input type="text"  class="slider" disabled id="amount" />
                    </div>
                    
                <div class="col-md-3"></div>
                  <button class="btn btn-complete btn-cons col-md-4" id="complete" height="50px">COMPLETE</button>
                </form>
                    <!-- END PANEL -->
                </div>
                </div>
              </div>
              </div>

          <!-- END JUMBOTRON -->
          <!-- START CONTAINER FLUID -->
          <div class="container-fluid container-fixed-lg bg-white">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
              <div class="panel-heading">
                <div class="panel-title">Service
                </div>
                <div class="pull-right">
                  <div class="col-xs-12">
                    <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                <table class="table table-hover demo-table-search" id="tableWithSearch">
                  <thead>
                    <tr>
                        <th class="center" style="width:5%">No</th>
                        <th class="center" style="width:15%">Apps Name</th>
                        <th class="center" style="width:15%">Storage</th>
                        <th class="center" style="width:15%">Request</th>
                        <th class="center" style="width:15%">Bandwidth</th>
                        <th class="center" style="width:10%">Status</th>
                        <th class="center" style="width:10%">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%for(var i in userService){%>
                    <tr class="gradeA">
                      <td class="center"><%=(parseInt(i)+1)%></td>
                      <td class="center"><%= userService[i].namaservice%></td>
                      <td class="center"><%= userService[i].space%></td>
                      <td class="center"><%= userService[i].request%></td>
                      <td class="center"><%= userService[i].bandwith%></td>
                      <td class="center"><%= userService[i].status%></td>
                        <td class="center">
                        <div class="btn-group btn-group-xs">
                        <a id="<%= userService[i].namaservice%>"class="btn btn-complete start-service"><i class="fa fa-play"></i></a>
                        <a class="btn btn-success"><i class="fa fa-stop"></i></a>
                        <a href="<?php echo site_url().'/admin/deletepas/'.$listpas['IDPASIEN'];?>" class="btn btn-danger" onClick="return delconfirm();"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    <%}%>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- END PANEL -->
          </div>
          <!-- END CONTAINER FLUID -->
          
        </div>
        <!-- END PAGE CONTENT -->

        <!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        
        <!-- END COPYRIGHT -->
      </div>
      <div class="container-fluid container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="hint-text">Copyright © 2015 </span>
              <span class="font-montserrat">Cloud Node</span>
              <span class="hint-text">All rights reserved. </span> 
            </p>

            <p class="small no-margin pull-right sm-pull-reset">
              <a href="#">Powered by JalaBit</a> <span class="hint-text">&amp; Brother ®</span>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>

      <script type="text/javascript">
  $(function() {
    $(".start-service").click(function(){
      console.log(this.id);
    })
    $( "#slider-range-min" ).slider({
      range: "min",
      value: 1,
      min: 0,
      max: 1000,
      slide: function( event, ui ) {
        $( "#amount" ).val( "IDR " +ui.value *3+ "000");
        $( "#loot" ).val( ui.value +" Loots" );
        $( "#memory" ).val( ui.value  + " MB");
        $( "#space" ).val( (ui.value * 0.03).toFixed(3) + " GB");
        $( "#bandwith" ).val( ui.value  + " GB");
        $( "#request" ).val( ui.value *1000 + " times/month");
        if(ui.value > 500)$( "#worker" ).val("2 worker");
        else $( "#worker" ).val("1 worker");
        $(".a, .b, .c, .d").width(ui.value/10 + "%");
      }
    });
    $(".ui-slider-handle").text("<>");
    $( "#amount" ).val( "IDR " + $( "#slider-range-min" ).slider( "value")*3 + "000");
    $( "#loot" ).val( $( "#slider-range-min" ).slider( "value") +" Loots");
    $( "#memory" ).val(  $( "#slider-range-min" ).slider( "value") + " MB");
    $( "#space" ).val( $( "#slider-range-min" ).slider( "value")*0.03 + " GB");
    $( "#bandwith" ).val( $( "#slider-range-min" ).slider( "value") + " GB");
    $( "#request" ).val( $( "#slider-range-min" ).slider( "value")*1000 + " times/month");
    $( "#worker" ).val("1 worker");
  });
  $('#submitNewService').submit(function(){
      var amount=$( "#amount" ).val();
      var serviceName=$( "#serviceName" ).val();
      var loot=$( "#loot" ).val();
      var memory=$( "#memory" ).val();
      var space=$( "#space" ).val();
      var bandwith=$( "#bandwith" ).val();
      var request=$( "#request" ).val();
      var worker=$( "#worker" ).val();
      var newApp=$( "#newApp" ).val();
      var newDb=$( "#newDb" ).val();
      var data={
        amount:amount,
        serviceName:serviceName,
        loot:loot,
        memory:memory,
        space:space,
        bandwith:bandwith,
        request:request,
        worker:worker,
        newApp:newApp,
        newDb:newDb
      }
      //console.log(amount+" "+loot+" "+memory+" "+space+" "+bandwith+" "+request+" "+worker+" "+newDb+" "+newApp + " "+serviceName);
      $.post("/newService", {data:data}, function(result){
        console.log(result);
      });
      return false; // avoid to execute the actual submit of the form.
  });
  $('#loot').change(function(){
      $( "#amount" ).val("IDR "+ $('#loot').val() *3+ "000");
      $( "#memory" ).val( $('#loot').val().split(" ")[0]  + "MB");
      $( "#space" ).val( ($('#loot').val() * 0.03).toFixed(3) + " GB");
      $( "#bandwith" ).val( $('#loot').val()  + "GB");
      $( "#request" ).val( $('#loot').val() *1000 + " times/month");
      $(".a, .b, .c, .d").width($('#loot').val()/10 + "%");
  });

      </script>